doctype 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(charset='utf-8')
        title Azure Node.js Task List
        link(href='/site.css', rel='stylesheet', type='text/css')
        link(href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/smoothness/jquery-ui.css', rel='stylesheet', type='text/css')
        script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.js')
        script(src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.js')

        block head
    body
        block content
